In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import tree
import graphviz 
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.neural_network import MLPRegressor

In [105]:
df_canada = pd.read_csv("Data/CO2_Emissions_Canada.csv")
df_pak = pd.read_csv("Data/pakwheels-11Jul2020.csv")
copy_df_pak = df_pak.copy()
copy_df_pak.head()

,Ad No,Name,Price,Model Year,Location,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features,Last Updated,URL
0,4096758,Toyota Vitz F 1.0 2017,2385000.0,2017,"G- 8, Islamabad Islamabad",9869,Un-Registered,Petrol,1000 cc,Automatic,Silver,Imported,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 11, 2020",https://www.pakwheels.com/used-cars/toyota-vit...
1,4168305,Toyota Corolla GLi Automatic 1.3 VVTi 2019,111000.00000000001,2019,Peshawar KPK,11111,Islamabad,Petrol,1300 cc,Automatic,White,Local,Sedan,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 12, 2020",https://www.pakwheels.com/used-cars/toyota-cor...
2,4168298,Suzuki Alto VXL 2019,1530000.0,2019,"Akora Khattak, Nowshera KPK",17500,Un-Registered,Petrol,660 cc,Automatic,White,Local,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 12, 2020",https://www.pakwheels.com/used-cars/suzuki-alt...
3,4168307,Suzuki Alto VXR 2019,1650000.0,2019,"Abdullahpur, Faisalabad Punjab",9600,Lahore,Petrol,660 cc,Manual,White,Local,Hatchback,"AM/FM Radio, Air Bags, Air Conditioning, DVD ...","Jul 12, 2020",https://www.pakwheels.com/used-cars/suzuki-alt...
4,4168306,Toyota Corolla XLi VVTi 2010,1435000.0,2010,"9th Avenue, Islamabad Islamabad",120000,Islamabad,Petrol,1300 cc,Manual,Black,Local,Sedan,"AM/FM Radio, Air Conditioning, CD Player, Key...","Jul 12, 2020",https://www.pakwheels.com/used-cars/toyota-cor...

In [107]:
copy_df_pak['consumption'] = 0

In [108]:
#toyota

In [109]:
#corolla
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Corolla'), 'consumption'] = 13

In [110]:
#vitz
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Vitz'), 'consumption'] = 12

In [111]:
#prado
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Prado'), 'consumption'] = 7.5

In [112]:
#passo
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Passo'), 'consumption'] = 14

In [113]:
#prius
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Prius'), 'consumption'] = 23

In [114]:
#fortuner
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Fortuner'), 'consumption'] = 9

In [115]:
#camry
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Camry'), 'consumption'] = 17

In [116]:
#aqua
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Toyota Aqua'), 'consumption'] = 20

In [117]:
#honda

In [118]:
#civic
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda Civic'), 'consumption'] = 12

In [119]:
#city
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda City'), 'consumption'] = 14.5

In [120]:
#vezel
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda Vezel'), 'consumption'] = 19

In [121]:
#inspire
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda Inspire'), 'consumption'] = 13

In [122]:
#BRV
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda BRV'), 'consumption'] = 13

In [123]:
#Honda N
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Honda N'), 'consumption'] = 17

In [124]:
#Suzuki

In [125]:
#alto
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Alto'), 'consumption'] = 15

In [126]:
#cultus
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Cultus'), 'consumption'] = 16

In [127]:
#wagonR
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Wagon R'), 'consumption'] = 15

In [128]:
#mehran
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Mehran'), 'consumption'] = 14

In [129]:
#swift
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Swift'), 'consumption'] = 12

In [130]:
#bolan
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Bolan'), 'consumption'] = 14

In [131]:
#khyber
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Khyber'), 'consumption'] = 15

In [132]:
#Liana
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Suzuki Liana'), 'consumption'] = 14

In [133]:
#Mercedes

In [134]:
#Mercedes C class
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mercedes C class'), 'consumption'] = 14

In [135]:
#mercedes S class
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mercedes S class'), 'consumption'] = 22

In [136]:
#merceded E class
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mercedes E class'), 'consumption'] = 11

In [137]:
#Audi

In [138]:
#Audi a4
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Audi A4'), 'consumption'] = 17

In [139]:
#audi a5
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Audi A5'), 'consumption'] = 15

In [140]:
#audi a6
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Audi A6'), 'consumption'] = 14

In [141]:
#audi a7
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Audi A7'), 'consumption'] = 24

In [142]:
#Nissan

In [143]:
#dayz
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Dayz'), 'consumption'] = 16.5

In [144]:
#sunny
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Sunny'), 'consumption'] = 18

In [145]:
#clipper
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Clipper'), 'consumption'] = 15

In [146]:
#patrol
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Patrol'), 'consumption'] = 8

In [147]:
#Note
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Note'), 'consumption'] = 17

In [148]:
#Juke
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Nissan Juke'), 'consumption'] = 13

In [149]:
#Mitshubishi

In [150]:
#Lancer
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mitsubishi Lancer'), 'consumption'] = 14.8

In [151]:
#mirage
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mitsubishi Mirage'), 'consumption'] = 21.7

In [152]:
#pajero
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mitsubishi Pajero'), 'consumption'] = 13.5

In [153]:
#outlander
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mitsubishi Outlander'), 'consumption'] = 17.2

In [154]:
#Galant
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Mitsubishi Galant'), 'consumption'] = 12

In [155]:
#Daihatsu

In [156]:
#Mira
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Daihatsu Mira'), 'consumption'] = 17

In [157]:
#Hijet
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Daihatsu Hijet'), 'consumption'] = 15

In [158]:
#Move
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('Daihatsu Move'), 'consumption'] = 24

In [159]:
#KIA

In [160]:
#classic
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Classic'), 'consumption'] = 13

In [161]:
#sportage
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Sportage'), 'consumption'] = 12

In [162]:
#picanto
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Picanto'), 'consumption'] = 16.5

In [163]:
#spectra
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Spectra'), 'consumption'] = 11

In [164]:
#pride
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Pride'), 'consumption'] = 14.9

In [165]:
#Santro
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('KIA Santro'), 'consumption'] = 20

In [166]:
#BMW 7
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('BMW 7'), 'consumption'] = 14

In [167]:
#BMW 3
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('BMW 3'), 'consumption'] = 13

In [168]:
#BMW 5
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('BMW 5'), 'consumption'] = 15

In [169]:
#BMQ X1
copy_df_pak.loc[copy_df_pak['Name'].str.startswith('BMW X1'), 'consumption'] = 18

In [170]:
# get all rows where consumption is 0
copy_df_pak[copy_df_pak['consumption'] == 0]
# delete all rows where consumption is 0
copy_df_pak = copy_df_pak[copy_df_pak['consumption'] != 0]

In [171]:
# drop unnecessary columns
copy_df_pak.drop(['Ad No','Name','Price', 'Model Year', 'Location', 'Registered City', 'Color', 'Assembly', 'Body Type', 'Features', 'Last Updated', 'URL'], axis=1, inplace=True)

In [172]:
# copy_df_pak.rename(columns={'consumption':'Fuel Consumption Comb (L/100 km)'}, inplace=True)

In [173]:
copy_df_pak.columns

Index(['Mileage', 'Engine Type', 'Engine Capacity', 'Transmission',
       'consumption'],
      dtype='object')

In [174]:
copy_df_canada = df_canada.copy()
copy_df_canada.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [175]:
copy_df_canada.drop(['Make', 'Model', 'Vehicle Class', 'Fuel Consumption City (L/100 km)', 'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (mpg)', 'Cylinders'], axis=1, inplace=True)

In [176]:
# whereever there is a word starting with A in the transmission column, replace it with 1 and wherever there is a word starting with M, replace it with 0
copy_df_pak['Transmission'] = copy_df_pak['Transmission'].str.replace('Automatic', '1')
copy_df_pak['Transmission'] = copy_df_pak['Transmission'].str.replace('Manual', '0')
copy_df_canada['Transmission'] = copy_df_canada['Transmission'].str.startswith('A').replace({True: 1, False: 0})

In [177]:
# copy_df_canada.drop(['Cylinders'], axis=1, inplace=True)
# copy_df_canada = pd.get_dummies(copy_df_canada, columns=['Fuel Type'])
copy_df_canada.head()

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,2.0,1,Z,8.5,196
1,2.4,0,Z,9.6,221
2,1.5,1,Z,5.9,136
3,3.5,1,Z,11.1,255
4,3.5,1,Z,10.6,244

In [178]:
copy_df_pak['Engine Type'] = copy_df_pak['Engine Type'].str.startswith('P').replace({True: 1, False: 0})
copy_df_pak['Engine Type'].replace('nan', 1)

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
56181    1.0
56182    0.0
56183    1.0
56184    0.0
56185    1.0
Name: Engine Type, Length: 45168, dtype: float64

In [179]:
copy_df_pak.head()

   Mileage  Engine Type Engine Capacity Transmission  consumption
0     9869          1.0         1000 cc            1         12.0
1    11111          1.0         1300 cc            1         13.0
2    17500          1.0          660 cc            1         15.0
3     9600          1.0          660 cc            0         15.0
4   120000          1.0         1300 cc            0         13.0

In [180]:
# multiply by 1000 the engine size
copy_df_canada['Engine Size(L)'] = copy_df_canada['Engine Size(L)'].apply(lambda x: x*1000)
copy_df_canada['Engine Size(L)'] = copy_df_canada['Engine Size(L)'].astype(int)
copy_df_canada.head()

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,2000,1,Z,8.5,196
1,2400,0,Z,9.6,221
2,1500,1,Z,5.9,136
3,3500,1,Z,11.1,255
4,3500,1,Z,10.6,244

In [181]:
copy_df_canada.dropna(inplace=True)
copy_df_pak.dropna(inplace=True)

In [182]:
# copy_df_canada['Fuel Consumption Comb (L/100 km)'] = copy_df_canada['Fuel Consumption Comb (L/100 km)'].apply(lambda x: x*1000)

In [183]:
copy_df_canada.head()
copy_df_canada['Fuel Type'] = copy_df_canada['Fuel Type'].replace('Z', 1)
copy_df_canada['Fuel Type'] = copy_df_canada['Fuel Type'].replace('X', 1)
copy_df_canada['Fuel Type'] = copy_df_canada['Fuel Type'].replace('E', 1)
copy_df_canada['Fuel Type'] = copy_df_canada['Fuel Type'].replace('N', 1)
copy_df_canada['Fuel Type'] = copy_df_canada['Fuel Type'].replace('D', 0)

In [184]:
copy_df_canada.head()

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,2000,1,1,8.5,196
1,2400,0,1,9.6,221
2,1500,1,1,5.9,136
3,3500,1,1,11.1,255
4,3500,1,1,10.6,244

In [185]:
copy_df_pak['Engine Capacity'] = copy_df_pak['Engine Capacity'].str.replace(' cc', '')

In [186]:
copy_df_pak.rename(columns={'Engine Capacity': 'Engine Size(L)', 'Engine Type': 'Fuel Type', 'consumption': 'Fuel Consumption Comb (L/100 km)'}, inplace=True)

In [187]:
copy_df_pak = copy_df_pak.reindex(columns=['Engine Size(L)', 'Transmission', 'Fuel Type', 'Fuel Consumption Comb (L/100 km)'])
copy_df_pak.head()

  Engine Size(L) Transmission  Fuel Type  Fuel Consumption Comb (L/100 km)
0           1000            1        1.0                              12.0
1           1300            1        1.0                              13.0
2            660            1        1.0                              15.0
3            660            0        1.0                              15.0
4           1300            0        1.0                              13.0

In [188]:
# copy_df_pak['Fuel Consumption Comb (L/100 km)'] = copy_df_pak['Fuel Consumption Comb (L/100 km)'].apply(lambda x: x/100) #mileage per 100km

In [189]:
copy_df_pak.head()

  Engine Size(L) Transmission  Fuel Type  Fuel Consumption Comb (L/100 km)
0           1000            1        1.0                              12.0
1           1300            1        1.0                              13.0
2            660            1        1.0                              15.0
3            660            0        1.0                              15.0
4           1300            0        1.0                              13.0

In [190]:
# copy_df_canada.drop(['Fuel Consumption Comb (L/100 km)'], axis=1, inplace=True)
# copy_df_pak.drop(['Fuel Consumption Comb (L/100 km)'], axis=1, inplace=True)

In [191]:
copy_df_canada.head()

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,2000,1,1,8.5,196
1,2400,0,1,9.6,221
2,1500,1,1,5.9,136
3,3500,1,1,11.1,255
4,3500,1,1,10.6,244

In [192]:
#mileage per 100km
# inverse the values
copy_df_pak['Fuel Consumption Comb (L/100 km)'] = copy_df_pak['Fuel Consumption Comb (L/100 km)'].apply(lambda x: 100/x)
copy_df_pak.head()

  Engine Size(L) Transmission  Fuel Type  Fuel Consumption Comb (L/100 km)
0           1000            1        1.0                          8.333333
1           1300            1        1.0                          7.692308
2            660            1        1.0                          6.666667
3            660            0        1.0                          6.666667
4           1300            0        1.0                          7.692308

In [193]:
# train_test_split
X_train, X_test, y_train, y_test = train_test_split(copy_df_canada.drop('CO2 Emissions(g/km)', axis=1), copy_df_canada['CO2 Emissions(g/km)'], test_size=0.2, random_state=42)
# Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
print('Linear Regression')
print('Accuracy:', lr.score(X_test, y_test))
print('MAE:', metrics.mean_absolute_error(y_test, lr_pred))
print('MSE:', metrics.mean_squared_error(y_test, lr_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, lr_pred)))
print('R2:', metrics.r2_score(y_test, lr_pred))

Linear Regression
Accuracy: 0.876086145786794
MAE: 13.130552748622378
MSE: 426.21748999225923
RMSE: 20.64503548052798
R2: 0.876086145786794

In [194]:
# decision tree
dt = tree.DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)
print('Decision Tree')
print('Accuracy:', dt.score(X_test, y_test))
print('MAE:', metrics.mean_absolute_error(y_test, dt_pred))
print('MSE:', metrics.mean_squared_error(y_test, dt_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, dt_pred)))
print('R2:', metrics.r2_score(y_test, dt_pred))

Decision Tree
Accuracy: 0.9663259226845082
MAE: 3.2112769013790157
MSE: 115.8262794934884
RMSE: 10.762261820523063
R2: 0.9663259226845082

In [195]:
# XGBoost
xgb = XGBRegressor()
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
print('XGBoost')
print('Accuracy:', xgb.score(X_test, y_test))
print('MAE:', metrics.mean_absolute_error(y_test, xgb_pred))
print('MSE:', metrics.mean_squared_error(y_test, xgb_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, xgb_pred)))
print('R2:', metrics.r2_score(y_test, xgb_pred))

XGBoost
Accuracy: 0.9775212321535549
MAE: 3.150845635478046
MSE: 77.31858612956825
RMSE: 8.79309877856312
R2: 0.9775212321535549

In [196]:
# Random Forest
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)
print('Random Forest')
print('Accuracy:', rf.score(X_test, y_test))
print('MAE:', metrics.mean_absolute_error(y_test, rf_pred))
print('MSE:', metrics.mean_squared_error(y_test, rf_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))
print('R2:', metrics.r2_score(y_test, rf_pred))

Random Forest
Accuracy: 0.9735456138073648
MAE: 3.201499983130709
MSE: 90.99323198284628
RMSE: 9.539037267085515
R2: 0.9735456138073648

In [198]:
# now we will use the pakistani dataset to predict the co2 emissions
# Linear Regression

pak_lr_pred = lr.predict(copy_df_pak)
print('Linear Regression Prediction')
copy_df_pak['CO2 Emissions(g/km)'] = pak_lr_pred
copy_df_pak.head(20)

Linear Regression Prediction

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,1000,1,1.0,8.333333,185.313042
1,1300,1,1.0,7.692308,180.349831
2,660,1,1.0,6.666667,157.902668
3,660,0,1.0,6.666667,160.196032
4,1300,0,1.0,7.692308,182.643195
5,1500,1,1.0,8.333333,191.788946
6,1000,0,1.0,6.666667,164.599647
7,1000,1,1.0,4.608295,133.892405
8,3000,1,0.0,13.333333,305.393989
9,1800,1,1.0,8.333333,195.674489
10,1500,1,0.0,5.263158,174.565127
11,1300,0,1.0,6.896552,171.658536
12,1000,1,1.0,7.142857,168.879643
13,660,1,1.0,5.882353,147.075958
14,1000,0,1.0,6.250000,158.847957
15,1300,1,1.0,7.692308,180.349831
16,660,1,1.0,5.882353,147.075958
17,1300,0,1.0,6.896552,171.658536
18,2800,1,0.0,11.111111,272.127949
19,660,1,1.0,6.666667,157.902668

In [ ]:
copy_df_canada.shape

(7385, 5)

In [ ]:
copy_df_pak.head()

,Engine Size(L),Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,1000,1,1.0,8.333333,185.313042
1,1300,1,1.0,7.692308,180.349831
2,660,1,1.0,6.666667,157.902668
3,660,0,1.0,6.666667,160.196032
4,1300,0,1.0,7.692308,182.643195

In [ ]:
copy_df_pak['CO2 Emissions(g/km)'].mean()

175.42746370810403

In [ ]:
copy_df_canada['CO2 Emissions(g/km)'].mean()

250.58469871360867

In [ ]:
copy_df_canada['Engine Size(L)'].mean()

3160.067704807041

In [ ]:
copy_df_pak['Engine Size(L)'].astype(float).mean()

1255.9080647354822